* {
    font-family: 'Open Sans', sans-serif;
    line-height:1.6;
}

input {
width:50px;
}

#main {
width:60%;
text-align:center;
margin:40px auto;
min-height:250px;
background-color:#EBEBEB;
padding:10px 0;
box-sizing:border-box;
border-radius:3%;
}

#btn {
background-color:rgb(137, 156, 194);
border:none;
padding:7px 12px;
cursor:pointer;
font-size:16px;
border-radius:5%;
}

#btn:hover {
background-color:rgb(98, 120, 163); 
}

.err {
font-weight:bold;
color:rgb(49, 68, 105); 
}

.wgth {
font-size:17.5px;

}